.card {
  background-color: #0f0c29;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(15, 12, 41, .7);
}


.card__image {
  height: 15rem;
  width: 100%;
  position: relative;
}

.card__image--box {
  display: block;
  height: calc(100% - 1rem);
  width: calc(100% - 1rem);
  object-fit: none;
  border-radius: 5px;
  border: 1px solid #231c5b;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  color: #f7f7f7;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__content h6 {
  font-size: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__content span {
  font-size: 1.8rem;
}